general:
  remote_storage: {{ clickhouse_backup_general_remote_storage }}
  disable_progress_bar: {{ clickhouse_backup_general_disable_progress_bar }}
  backups_to_keep_local: {{ clickhouse_backup_general_backups_to_keep_local }}
  backups_to_keep_remote: {{ clickhouse_backup_general_backups_to_keep_remote }}
clickhouse:
  username: {{ clickhouse_backup_clickhouse_username }}
  password: {{ clickhouse_backup_clickhouse_password }}
  host: {{ clickhouse_backup_clickhouse_host }}
  port: {{ clickhouse_backup_clickhouse_port }}
  data_path: {{ clickhouse_backup_clickhouse_data_path }}
  skip_tables: {{ clickhouse_backup_clickhouse_skip_tables }}
  timeout: {{ clickhouse_backup_clickhouse_timeout }}
  freeze_by_part: {{ clickhouse_backup_clickhouse_freeze_by_part }}
s3:
  access_key: {{ clickhouse_backup_s3_access_key }}
  secret_key: {{ clickhouse_backup_s3_secret_key }}
  bucket: {{ clickhouse_backup_s3_bucket }}
  endpoint: {{ clickhouse_backup_s3_endpoint }}
  region: {{ clickhouse_backup_s3_region }}
  acl: {{ clickhouse_backup_s3_acl }}
  force_path_style: {{ clickhouse_backup_s3_force_path_style }}
  path: {{ clickhouse_backup_s3_path }}
  disable_ssl: {{ clickhouse_backup_s3_disable_ssl }}
  part_size: {{ clickhouse_backup_s3_part_size }}
  compression_level: {{ clickhouse_backup_s3_compression_level }}
  compression_format: {{ clickhouse_backup_s3_compression_format }}
  sse: {{ clickhouse_backup_s3_sse }}
  disable_cert_verification: {{ clickhouse_backup_s3_disable_cert_verification }}
gcs:
  credentials_file: {{ clickhouse_backup_gcs_credentials_file }}
  credentials_json: '{{ clickhouse_backup_gcs_credentials_json }}'
  bucket: {{ clickhouse_backup_gcs_bucket }}
  path: {{ clickhouse_backup_gcs_path }}
  compression_level: {{ clickhouse_backup_gcs_compression_level }}
  compression_format: {{ clickhouse_backup_gcs_compression_format }}
cos:
  url: {{ clickhouse_backup_cos_url }}
  timeout: {{ clickhouse_backup_cos_timeout }}
  secret_id: {{ clickhouse_backup_cos_secret_id }}
  secret_key: {{ clickhouse_backup_cos_secret_key }}
  path: {{ clickhouse_backup_cos_path }}
  compression_format: {{ clickhouse_backup_cos_compression_format }}
  compression_level: {{ clickhouse_backup_cos_compression_level }}
  debug: {{ clickhouse_backup_cos_debug }}
